@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", serif;
  font-weight: 300;
}
.bg-secondary{
    background-color: #f43f5e!important;
}
.tablist button{
    width: 400px;
}
code{
    font-size: 11px!important;
}
.right-bar input{
    padding: 5px;
}